@switch (Tag)
{
    case "h1":
        <h1 id="@Id" class="html-heading html-heading-h1">@ChildContent</h1>
        break;
    case "h2":
        <h2 id="@Id" class="html-heading html-heading-h2">@ChildContent</h2>
        break;
    case "h3":
        <h3 id="@Id" class="html-heading html-heading-h3">@ChildContent</h3>
        break;
    case "h4":
        <h4 id="@Id" class="html-heading html-heading-h4">@ChildContent</h4>
        break;
    case "h5":
        <h5 id="@Id" class="html-heading html-heading-h5">@ChildContent</h5>
        break;
    case "h6":
        <h6 id="@Id" class="html-heading html-heading-h6">@ChildContent</h6>
        break;
    default:
        <p id="@Id" class="html-paragraph">@ChildContent</p>
        break;
}

@code {
    [Parameter] public string Tag { get; set; } = "p";
    [Parameter] public string? Id { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
